<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Number of all orders: <%= all %></h1>
    <h1>Number of all active orders: <%= active %></h1>
  </body>
</html>
